#t-menu {height: 33px;line-height: 33px;background: url(./images/btn-x.png) repeat-x;position: fixed;
    left: 0px;top: 0px;width: 100%;text-align: center;border-bottom: 1px solid #0D0D0D;}
.t-box {margin: auto;width: 1000px;text-align: left;color: #A7A7A7;}
.t-link {color: #A7A7A7;text-decoration: none;padding: 0px 10px;}
.t-hover:hover {color: #305E67;}

#banner {text-align: center;height: 250px;background: url(./images/t-bg.jpg) repeat;}
.ban-box {margin: auto;text-align: left;width: 1000px;}
.ban-txt {padding-top: 60px;font-size: 30px;font-weight: bold;color: #A7A7A7;padding-left: 10px;}
.btx-box {color: #C7C7C7;margin: 10px;font-size: 18px;font-weight: bold;}

/*navi*/
#navi {background:url(./images/n-bg.jpg) repeat-x;text-align: center;}
#navi-box {margin: auto;overflow: hidden;zoom: 1;width: 1000px;}
#navi-box a {float: left;width: 80px;height: 50px;line-height: 50px;text-decoration: none;
    font-size: 14px;font-weight: bold;color: #A7A7A7;text-align: center;margin-right: 20px;}
#navi-box a:hover {text-decoration: underline;}

.main {text-align: center;background-color: #000000;padding-bottom: 30px;
    min-height: 600px;}
.c-box {margin: auto;width: 1000px;overflow: hidden;zoom:1;text-align: left;}
.p-h3 {height: 35px;line-height: 35px;color: #A7A7A7;padding-left: 10px;background-color: #181818;
    margin-top: 20px;border-bottom: 1px solid #0D0D0D;}
#list-box {border-top: 2px solid #181818;}

#foot {text-align: center;background-color: #000;}
#foot-box {margin: auto;width: 1000px;font-size: 12px;height: 50px;color: #A7A7A7;
    border-top: 1px solid #303030;font-family: 'Arial';line-height: 24px;padding: 10px 0px;}
.email {color: #00F; text-decoration: underline;}
#foot-space {height: 30px;background: #101010;}