<html>
<head>
    <title><?=${title}?></title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" type="text/css" href="/static/style/dark/soft/about.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/dark/top-foot.css"/>
</head>
<body>
<?include ../share/head.html?>
<div class="main">
    <div class="c-box">
        <h3 class="p-h3">狮子的魂：</h3>
        <div id="list-box"><?=${about}?></div>
    </div>
</div>
<?include ../share/foot.html?>
</body>
</html>
