<html>
<head>
    <title><?=${title}?></title>
    <meta name="Keywords" content="<?=${site.keywords}?>"/>
    <meta name="Description" content="<?=${site.desc}?>"/>
    <link rel="stylesheet" type="text/css" href="<?=${USR.sta.css}?>/soft/about.css"/>
    <link rel="stylesheet" type="text/css" href="<?=${USR.sta.css}?>/top-foot.css"/>
</head>
<body>
<?include ../share/head.html?>
<div class="main">
    <div class="c-box">
        <h3 class="p-h3">狮子的魂：</h3>
        <div id="list-box"><?=${about}?></div>
    </div>
</div>
<?include ../share/foot.html?>
</body>
</html>
