#main {margin: auto;text-align: left;width: 800px;border: 1px solid #CCC;overflow: hidden;zoom:1;margin-top: 10px;}

#left {float: left;width: 200px;border: 1px solid #CCC;border-left: none;border-top: none;}
#at-h3 {color: #555;padding: 5px;}
#at-list {margin-bottom: 20px;}
#at-list li {padding: 2px 5px;height: 18px;line-height: 18px;border-bottom: 1px dashed #EEE;margin: 0px 10px;}
#at-list a {color: #00F;text-decoration: none;font-weight: bold;}
#at-list a:hover {color: #000;text-decoration: underline;}

#right {float: right;width: 590px;border: 1px solid #CCC;border-right: none;border-top: none;margin-bottom: 10px;}
#aa-h3 {color: #555;padding: 5px;}
/*content*/
.list-item {border-bottom: 1px dashed #EEE;padding: 5px;}
.li-info {color: #555;padding: 2px 0px;}
.li-brief {padding: 5px 0px;color: #555;}
#page-box {margin: 10px 5px;}