<html>
<head>
    <title><?=${site.title}?></title>
    <meta name="Keywords" content="<?=${site.keywords}?>"/>
    <meta name="Description" content="<?=${site.desc}?>"/>
    <link rel="stylesheet" type="text/css" href="/static/style/dark/article/list.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/dark/top-foot.css"/>
</head>
<body>
<?include share/head.html?>
<div class="main">
    <div class="c-box">
        <h3 class="p-h3">开源软件：</h3>
        <div id="list-box">
        <?if ( ${data} != FALSE ) {?>
            <?for ( $val : ${data} ) {?>
            <div class="list-item">
                <h3 class="li-title"><a href="<?=$val.url?>" target="_blank"><?=$val.title?></a></h3>
                <div class="li-brief"><?=$val.brief?></div>
                <div class="li-box">
                    <a href="<?=$val.url?>" target="_blank" class="lb-index button-link">软件官方网站</a>
                    <a href="<?=$val.git?>" target="_blank" class="lb-git button-link">查看Git源码托管</a>
                </div>
            </div>
            <?}?>
        <?}?>
        </div>
    </div>
</div>
<?include share/foot.html?>
</body>
</html>
